body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: lightgrey;
}

img {
    margin-top: 30px;
    width: 100px;
    height: auto;
    padding: 10px;
    border: solid 5px black;
    background-color: white;
}

.main { 
    border: solid 5px black;
    border-radius: 25%;
    padding: 10px;
    text-decoration: underline;
}

.scoretarget {
    margin-top: 30px;
    margin-left: 20px;  
    padding: 30px;
    border: solid 5px black;
    font-weight: bold;
    font-size: 1.5em;
}

.result {
    margin-top: 30px;
    padding: 30px;
    border: solid 5px black;
    background: white;
}

h4 {
    font-weight: bold;
}

button {
    margin-top: 20px;
}

#restart {
    width: 200px;
    height: 70px;
    background: black;
    color: white;
    border-radius: 50%;
    border: solid 5px yellow;
}

#restart:hover {
width: 220px;
height: 80px;
color: black;
background: yellow;
}